name = "yoinklist"
compatibility_date = "2025-09-02"
compatibility_flags = ["nodejs_compat"]
main = "@tanstack/react-start/server-entry"
account_id = "YOUR_ACCOUNT_ID"
workers_dev = true

kv_namespaces = [
  { binding = "SESSIONS_KV", id = "6206104511af4ee093f1c3f8d06f252a" }
]

[observability]
enabled = true